.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body {
    display: flex;
    flex: 1;
}

header,
footer {
    flex: 0 0 100px;
}
.content {
    flex: 1;
}

.ads,
.nav {
    flex: 0 0 100px;
}

.nav {
    order: -1;
}

.bg {
    background: #eee;
    margin: 10px;
}

@media (max-width: 768px) {
    .body {
        flex-direction: column;
        flex: 1;
    }
    .nav,
    .ads,
    .content {
        flex: auto;
    }
}