<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>element test</title>
    <script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div class="content-header">
    <h1>商品管理</h1>
</div>
<div id="app">
    <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
    <el-table
            v-model="item"
            :data="tableData"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            height="350"
            align="center"
            border
            style="width: 100%">
        <el-table-column
                prop="id"
                label="id">
        </el-table-column>
        <el-table-column
                prop="name"
                label="name">
        </el-table-column>
        <el-table-column
                prop="price"
                label="price">
        </el-table-column>
        <el-table-column
                prop="type"
                label="type">
        </el-table-column>
        <el-table-column
                prop="storage"
                label="storage">
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">编辑
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>

    <!-- “新建”标签弹层 -->
    <div class="add-form">
        <el-dialog title="新增商品" :visible.sync="dialogFormVisible4Add">
            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                     label-width="100px">
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="商品名字" prop="name">
                            <el-input v-model="formData.name"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="价格" prop="price">
                            <el-input v-model="formData.price"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="类型" prop="type">
                            <el-input v-model="formData.type"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="库存" prop="storage">
                            <el-input v-model="formData.storage"/>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel()">取消</el-button>
                <el-button type="primary" @click="handleAdd()">确定</el-button>
            </div>
        </el-dialog>
    </div>
<!--编辑表单-->
    <div class="add-form">
        <el-dialog title="编辑商品" :visible.sync="dialogFormVisible4Edit">
            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                     label-width="100px">
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="商品编号" prop="id">
                            <el-input v-model="formData.id"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="商品名字" prop="name">
                            <el-input v-model="formData.name"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="商品价格" prop="price">
                            <el-input v-model="formData.price"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="商品类型" prop="type">
                            <el-input v-model="formData.type"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="库存" prop="storage">
                            <el-input v-model="formData.storage"/>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel()">取消</el-button>
                <el-button type="primary" @click="handleUpdate()">确定</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</div>
<script>
    new Vue({
        el: '#app',
        mounted() {
            this.findAll();
        },
        data: {
            item: {
                    id: '',
                    name: '',
                    price: '',
                    type: '',
                    storage: ''
            },
            tableData: [],
            dialogFormVisible4Add: false,      //"新增"表单是否可见
            dialogFormVisible4Edit: false,     //"编辑"表单是否可见
            formData: {},    //表单数据
            rules: {         //表单数据校验规则
                name: [{required: true, message: '名字为必填项', trigger: 'blur'}],
                price: [{required: true, message: '价格为必填项', trigger: 'blur'}]
            },

        },
        methods: {
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            //弹出"新建"窗口
            handleCreate() {
                this.dialogFormVisible4Add = true;
                this.resetForm();
            },

            //重置表单
            resetForm() {
                this.formData = {};
            },

            //确认添加
            handleAdd() {
                axios.post("/item/add", this.formData).then((res) => {
                    //判断当前操作是否成功
                    if(res.data.flag){
                        //1.关闭弹层
                        this.dialogFormVisible4Add = false;
                        this.$message.success(res.data.msg);
                    }
                    else{
                        this.$message.error(res.data.msg);
                    }}).finally(() => {
                    //2.重新加载数据
                    this.findAll();
                });
            },

            //取消
            cancel() {
                this.dialogFormVisible4Add = false;
                this.dialogFormVisible4Edit = false;
                this.$message.info("当前操作取消");
            },

            //弹出“编辑”窗口并回显数据
            handleEdit(index,row) {
                var _this=this;
                console.log(index)
                console.log(row.id)
                axios({
                    method:"get",
                    url:"http://localhost:9001/item/selectById/" + row.id
                }).then(function (resp) {
                    if(resp.data != null){
                        //打开弹层
                        _this.dialogFormVisible4Edit = true;
                        _this.formData = resp.data;
                    }
                    else{
                        _this.$message.error("出错啦！！");
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.findAll();
                });
            },

            //确认修改
            handleUpdate() {
                axios.put("/item/updata", this.formData).then((res) => {
                    //判断当前操作是否成功
                    if(res.data)
                    {
                        //1.关闭弹层
                        this.dialogFormVisible4Edit = false;
                        this.$message.success("BinGuo!修改成功");
                    }
                    else
                    {
                        this.$message.error("出错啦！！");
                    }
                }).finally(() => {
                    //2.重新加载数据
                    this.findAll();
                });
            },

            // 弹出“删除”确认框
            handleDelete(index,row) {
                console.log(row.id)
                this.$confirm("此操作永久删除当前信息，是否继续？", "提示", {type: "info"}).then(() => {
                   axios({
                       method: "delete",
                       url: "http://localhost:9001/item/delete/" + row.id
                   }).then((res) => {
                        console.log(row.id);
                        if(res){
                            this.$message.success("BinGuo!!删除成功");
                        }
                        else{
                            this.$message.error("删除失败。。");
                        }
                    }).finally(() => {
                        //2.重新加载数据
                        this.findAll();
                    });
                }).catch(() => {
                    this.$message.info("当前操作取消");
                });
            },
            findAll() {
                var _this = this;
                axios({
                    method: "get",
                    url: "http://localhost:9001/item/findAll"
                }).then(function (resp) {
                    _this.tableData = resp.data;
                });
                console.log(this.item.id);
            }
        }
    });
</script>
</body>
</html>
